$background: red;

body {
	padding-top: 60px;
	background: $background;
	p {
		font-size: 10px
	}
}
#cards {
}

.no-js {
	#main-nav,
	#hearthstone-cards-container,
	#hearthstone-decks-container,
	#hearthstone-games-container {
		display: none;
	}

}

html, body, #hearthstone-games-container, #hearthstone-games-container > .row {
	height: 100%;
}

.cards {
	.card {
		/*float: left;*/
		display: inline-block;
	}
	.detailed {
		.card {
			float: left;
			width: 33%;
			height: 340px;
			overlow: scroll;

			h2, ul {
				display: initial;
			}
			ul {
				list-style: none;
			}
		}
	}
	h2, ul {
		display: none;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	img {
		float: left;
		position: relative;
		top: -40px;
	}
}

#hearthstone-decks-container {
	.deck-nav {
		margin-top: 100px;
	}

	.btn-new-deck {
		// width: 100%;
		// margin-bottom: 20px;
	}
	.hero-selection-modal {
		.hero {
			text-shadow: 0 0 5px rgba(0,0,0,0.75);
			text-align: center;
			color: white;
			font-size: 30px;
			line-height: 50px;
			display: inline-block;
			height: 50px;
			width: calc(33% - 40px);
			margin: 20px;
			background: 50% 25% no-repeat;
  		    background-size: 130%;
  		    border-radius: 5px;
		}
		.warrior {
			background-image: url('../images/HERO_01.png');
		}
		.shaman {
			background-image: url('../images/HERO_02.png');
		}
		.rogue {
			background-image: url('../images/HERO_03.png');
		}
		.paladin {
			background-image: url('../images/HERO_04.png');
		}
		.hunter {
			background-image: url('../images/HERO_05.png');
		}
		.druid {
			background-image: url('../images/HERO_06.png');
		}
		.warlock {
			background-image: url('../images/HERO_07.png');
		}
		.mage {
			background-image: url('../images/HERO_08.png');
		}
		.priest {
			background-image: url('../images/HERO_09.png');
		}
	}
}

#hearthstone-cards-container {
	.card {
		position: relative;
		margin: 10px;

		img {
			/*height: calc(100% - 70px);*/
			z-index: 0;
		}
		input[type='checkbox'] {
			display:none;
		}
		input[type='checkbox'] + label {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			font-size: 16px;
			color: transparent;
			/*text-shadow: 0 0 6px #000;*/
			text-align: right;
			padding-top: 9px;
			padding-right: 23px;
		}
		input[type='checkbox'] + label:hover {
			text-shadow: 0 0 10px #fff;
			color: white;
		}
		input[type='checkbox']:checked + label {
			color: white;
		}
		input[type='checkbox']:checked + label:hover {
			text-shadow: 0 0 20px #000;
			/*color:black;*/
		}
	}
}

#hearthstone-games-container {
	.game-player {
		.deck, .graveyard {
			display: none
		}
		.messages {
			/*overflow: scroll;*/
			font-size: 9px;
			clear: both;
		}
	}
	#games {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items:stretch;
	}

	.board-hand,
	.board-play {
		display: flex;
		flex-direction: row;
		justify-content: center;
		min-height: 200px;

		.card {
			/*position: absolute;*/
			height: 200px;
			width: 130px;
		}
		img {
			height: 100%;
			width: 100%;
		}
	}

	.hero-cards {
		clear: both;

		img {
			width: 50%;
			float: left;
		}
	}
	.secret img{
		width: 33%;
		float: left;
	}
	.game-player-1 {
		height: 100%;
		/*background: #ffeeee;*/
	}
	.game-player-2 {
		/*background: #eeeeff;*/
		height: 100%;
	}
}


/* The animation code */
@keyframes example {
	0% {
		background-color: red;
		height: 200px;
		width: 130px;
	}
	50% {
		background-color: yellow;
		height: 400px;
		width: 260px;
	}
	100% {
		background-color: red;
		height: 200px;
		width: 130px;
	}
}