doctype html
html(lang="en")
  head
    link(type='text/css', href='test.scss', rel='stylesheet')
    title= pageTitle
    script(type='text/javascript').
      var foo = true
      if (foo) {
        alert('Sweet Jade works well')
      }
  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.